body {
  margin: 0;
}
#left {
  background-color: #FAFAFA;
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}
#right {
  background-color: #ECECE2;
  width: 75%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}
#bottom {
  position: absolute;
  width: 75%;
  right: 0;
  bottom: 0;
}
.container {
  padding: 10px;
}
.btn {
  font-size: 30px;
  background-color: #FAFAFA;
  border: 2px solid #CCC;
  min-width: 40px;
  height: 40px;
  line-height: 1.3em;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.notes-detail-title {
  border: 1px solid #CCC;
  padding: 4px;
}
.notes-detail-content {
  border: 1px solid #CCC;
  padding: 4px;
  min-height: 10em;
}
.notes-item {
  margin: 10px 0;
}
.notes-item-title {
  font-size: 16px;
  text-decoration: none;
  color: #555;
  font-weight: bold;
  display: block;
}
.notes-item-timestamp {
  font-size: 12px;
  color: #AAA;
}
.notes-item.active .notes-item-title {
  color: #00f;
}
.del-notes-btn {
  text-decoration: none;
  font-size: 12px;
  color: #AAA;
}
.del-notes-btn:hover {
  color: red;
}
